/* common */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  color: inherit; text-decoration: none;
}
.hidden {
  display: none !important;
}
.sr-only {
  font-size: 0;
  text-indent: -99999px;
}

.svg-mariadb {
  display: inline-block;
  width: 2.5rem; height: 1.25rem;
  background: transparent url(../img/mariadb.svg) center repeat;
  -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto;
  vertical-align: middle;
}

/* html, body */
html, body {
  background-color: #fff;
  font-family: 'Ubuntu', 'Noto Sans KR', Helvetica, sans-serif;
  font-size: 16px;
}

/* header */
header {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 5.625rem;
  background-color: #fff;
  background-color: rgba(255,255,255,.7);
  z-index: 10;
}
header .header-wrap {
  position: relative;
  max-width: 1920px;
  margin: 0 auto; padding: 1.25rem 0.625rem 1.25rem 1.875rem;
}
header h1 {
  width: 10rem;
  font-size: 1.25rem; font-weight: 500; line-height: 3.125rem;
  text-transform: uppercase;
}
header .menu {
  position: absolute; top: 1.25rem; right: 0.625rem;
  width: 70%;
  width: calc(100% - 12.5rem);
  padding: 0 0.625rem;
  font-size: 0; text-align: right;
}
header .menu li {
  display: inline-block;
  margin-left: 1.25rem; padding: 0 0.625rem;
  font-size: 1.125rem; line-height: 3.125rem;
  text-transform: uppercase;
}
header .menu li a {
  transition: all 0.15s;
}
header .menu li a:hover {
  font-weight: 500;
}
header .menu-button {
  display: none;
}

/* main */
section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.image-pos-l .article-image, .image-pos-r .article-image {
  position: absolute; top: 0;
  width: 50%; height: 100%;
}
.image-pos-l .article-image {
  left: 0;
}
.image-pos-r .article-image {
  right: 0;
}
.image-pos-l .article-content {
  padding-left: 50%;
}
.image-pos-r .article-content {
  padding-right: 50%;
}
.article-image .image-copyright {
  position: absolute; bottom: 0.313rem; right: 0.625rem;
  color: #fff; text-shadow: 1px 1px #000; font-size: 0.75rem;
}
.article-title {
  font-size: 1.5rem; line-height: 1.875rem;
}

#section-intro {
  max-width: 100%;
}
#section-intro .visual-art {
  position: relative;
  width: 100%; height: 100%;
  background: transparent url(../img/bg-repeat.jpg) center repeat;
  -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -o-background-size: auto 100%; background-size: auto 100%;
  text-align: center;
  z-index: 1;
}
#section-intro .visual-art .main-visual-pc {
  width: 100%; max-width: 1920px; height: auto;
}
#section-intro .visual-art .main-visual-mo {
  display:none;
}
#section-intro .article-intro {
  position: absolute; top: 0; left: 50%;
  width: 100%; max-width: 1920px; height: 100%;
  -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
  z-index: 2;
}
#section-intro .article-intro .introdution {
  position: absolute; left: 5rem; bottom: 7.5rem;
  width: 16.25rem; height: 5.625rem;
  padding: 0.938rem 1.25rem;
  background-color: #fff;
  font-size: 1.25rem; line-height: 1.875rem;
}
#section-intro .article-intro .introdution.kor {
  font-size: 1rem; font-weight: 500;
}

#section-about .article-image {
  background: transparent url(../img/img_02.jpg) center no-repeat;
  -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto;
}
#section-about .article-about .article-wrap {
  padding: 6.875rem 3.75rem 7.5rem;
  text-align: justify;
}
#section-about .article-about p {
  margin-top: 0.625rem;
  font-size: 0.875rem; line-height: 1.73;
}
#section-about .article-about .summary-about {
  font-size: 1.125rem;
}

#section-skill .article-image {
  background: transparent url(../img/img_03.gif) center no-repeat;
  -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -o-background-size: auto 100%; background-size: auto 100%;
}
#section-skill .article-skill .article-wrap {
  padding: 6.875rem 0.625rem 7.5rem;
  text-align: justify;
}
#section-skill .article-skill h3 {
  padding-left: 3.125rem;
}
#section-skill .article-skill .list-skill {
  margin-top: 1.25rem;
  font-size: 0;
}
#section-skill .article-skill .item-skill {
  display: inline-block;
  width: 50%;
  padding-top: 2.5rem;
  vertical-align: top; text-align: center;
}
#section-skill .article-skill .item-skill h4 {
  padding-bottom: 1.563rem;
  font-size: 1.125rem;
}
#section-skill .article-skill .item-skill ul {
  font-size: 0;
}
#section-skill .article-skill .item-skill li {
  display: inline-block;
  margin: 0 0.625rem 0.625rem 0; padding: 0.375rem 0.625rem;
  background-color: #f2f2f2;
  font-size: 0.875rem;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3); -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3); box-shadow: 0 3px 7px rgba(0,0,0,.3);
  cursor: default;
  transition: transform 0.3s;
}
#section-skill .article-skill .item-skill li:hover {
  -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);
}
#section-skill .article-skill .item-skill li.item-skill-mariadb {
  padding-left: 0;
}
#section-skill .article-skill .item-skill li i {
  margin-right: 0.313rem;
  font-size: 1.25rem;
  vertical-align: sub;
}

#section-career {
  max-width: 100%;
}
#section-career .section-career-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; padding-top: 3.75rem;
  background: transparent url(../img/img_04.jpg) center top no-repeat;
  -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto;
}
#section-career .section-title {
  padding-left: 3.75rem;
  color: #fff; font-size: 1.5rem;
}
#section-career .article-education {
  padding-left: 12.5rem;
}
#section-career .article-education ul {
  padding: 4.375rem 1.875rem 4.375rem;
}
#section-career .article-education li {
  margin-top: 1.875rem;
}
#section-career .article-education li:first-child {
  margin-top: 0;
}
#section-career .article-education li h4 {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
}
#section-career .article-education li p {
  font-size: 1rem; line-height: 1.73;
}
#section-career .article-experience {
  padding-left: 12.5rem;
}
#section-career .list-experience {
  padding: 1.25rem 1.875rem 3.125rem;
  font-size: 0;
}
#section-career .item-experience {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  color: #fff; vertical-align: top;
}
#section-career .item-experience h4 {
  margin-bottom: 0.938rem;
  font-size: 2.25rem;
}
#section-career .item-experience h4 .century {
  font-size: 0;
}
#section-career .item-experience h4 .century:before {
  content: '‘';
  font-size: 2.25rem;
}
#section-career .item-experience h4 .separator {
  font-size: 0;
}
#section-career .item-experience h4 .separator:before {
  content: '-';
  font-size: 2.25rem;
}
#section-career .item-experience h4 sub {
  font-size: 1.625rem;
}
#section-career .item-experience p {
  margin-bottom: 0.625rem; padding-left: 0.313rem;
  font-size: 1.25rem; text-transform: uppercase;
}
#section-career .item-experience p span {
  font-size: 1.125rem;
}
#section-career .item-experience li {
  position: relative;
  margin-bottom: 0.313rem; padding-left:0.938rem;
  font-size: 0.875rem; line-height: 1.54;
}
#section-career .item-experience li:before {
  content: '';
  display: inline-block;
  position: absolute; top: 0.5rem; left: 0.313rem;
  width: 0.25rem; height: 0.25rem;
  background-color: #fff;
}
#section-career .item-experience li span {
  font-size: 0.75rem;
}
#section-career .item-experience li i {
  padding: 0 0 0 0.313rem;
  font-size: 1.125rem; vertical-align: middle;
}
#section-career .image-copyright {
  display: none;
}

/* footer */
footer {
  position: relative;
  padding: 2.5rem 1.25rem;
}
footer p {
  font-size: 0.75rem;
}
.footer__icon-group {
  position: absolute; top:2.5rem; right: 1.25rem;
  text-align: right;
}
.footer__icon-group a {
  font-size: 1.25rem; color: gray;
  transition: color .3s;
}
.footer__icon-group a:hover {
  color: black;
}

@media (max-width: 1199px) {
  /* html, body */
  html, body {
    font-size: 1.3333333vw;
  }

  #section-career .item-experience li i {
    display: none;
  }
}

@media (max-width: 767px) {
  /* html, body */
  html, body {
    font-size: 14px;
  }

  header {
    height: 5.625rem;
  }
  header .header-wrap {
    margin: 0 auto; padding: 1.25rem 0.625rem 1.25rem 1.875rem;
  }
  header h1 {
    width: 10rem;
    font-size: 1.25rem; font-weight: 500; line-height: 3.125rem;
  }
  header .menu {
    position: fixed; top: 0; left: 100%; right: auto;
    width: 100%; height: 100%;
    padding: 0 0.625rem;
    font-size: 0; text-align: center;
    background: #fefefe;
    transition: left 0.2s 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
    z-index: 11;
  }
  header .menu.menu-open {
    left: 0;
  }
  header .menu ul {
    position: absolute; top: 50%; left: 0;
    width: 100%;
    padding: 0 3rem;
    text-align: left;
    -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
  }
  header .menu li {
    display: block;
    margin-left: 0; padding: 0 0 0.625rem;
    font-size: 2rem; line-height: 3.125rem;
    color: #000;
  }
  header .menu li a {
    transition: none;
  }
  header .menu li a:hover {
    font-weight: 400;
  }
  header .menu-button {
    display: block;
    position: absolute; top: 1.25rem; right: 1rem;
    width: 42px; height: 42px;
    margin: 0; padding: 0; border: none;
    background: transparent;
    z-index: 12;
  }
  header .menu-button .menu-button__top,
  header .menu-button .menu-button__middle__1,
  header .menu-button .menu-button__middle__2,
  header .menu-button .menu-button__bottom {
    display: block;
    width: 100%; height: 4px;
    background: #000;
  }
  header .menu-button .menu-button__top,
  header .menu-button .menu-button__bottom {
    transition: transform 0.2s 0.3s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }
  header .menu-button .menu-button__middle {
    display: block;
    position: relative;
    margin: 5px 0;
    transition: transform 0.3s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }
  header .menu-button .menu-button__middle__2 {
    position: absolute; top: 0; left: 0;
    -webkit-transform: scaleY(0) rotate(90deg); -moz-transform: scaleY(0) rotate(90deg); -o-transform: scaleY(0) rotate(90deg); -ms-transform: scaleY(0) rotate(90deg); transform: scaleY(0) rotate(90deg);
    -webkit-transform-origin: center; -moz-transform-origin: center; -ms-transform-origin: center; -o-transform-origin: center; transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }
  header .menu-button.menu-open .menu-button__top,
  header .menu-button.menu-open .menu-button__bottom {
    -webkit-transform: scaleX(0); -moz-transform: scaleX(0); -o-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0);
    transition: transform 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }
  header .menu-button.menu-open .menu-button__middle {
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);
    transition: transform 0.2s 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }
  header .menu-button.menu-open .menu-button__middle__2 {
    -webkit-transform: scaleY(1) rotate(90deg); -moz-transform: scaleY(1) rotate(90deg); -o-transform: scaleY(1) rotate(90deg); -ms-transform: scaleY(1) rotate(90deg); transform: scaleY(1) rotate(90deg);
    transition: transform 0.2s 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  }

  /* main */
  .article-image .image-copyright {
    bottom: 0.313rem; right: 0.625rem;
    color: #fff; text-shadow: 1px 1px #000; font-size: 0.75rem;
  }
  .article-title {
    font-size: 1.5rem; line-height: 1.875rem;
  }

  #section-intro {
    max-width: 100%;
  }
  #section-intro .visual-art {
    background: transparent;
  }
  #section-intro .visual-art .main-visual-pc {
    display: none;
  }
  #section-intro .visual-art .main-visual-mo {
    display: block;
    width: 100%; height: auto;
  }
  #section-intro .article-intro {
    left: 0;
    width: 100%; height: 100%;
    -webkit-transform: translateX(0); -moz-transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);
  }
  #section-intro .article-intro .introdution {
    left: 2rem; right: 2rem; bottom: 2rem;
    width: auto;
    font-size: 1.375rem; line-height: 1.938rem;
  }
  #section-intro .article-intro .introdution.kor {
    font-size: 1.125rem;
  }

  #section-about .article-image {
    width: 100%;
  }
  #section-about .article-about {
    position: relative;
    padding: 2rem;
  }
  #section-about .article-about .article-wrap {
    padding: 3rem 2.5rem;
    background: #fff; background: rgba(255,255,255,0.95);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  }

  #section-skill .article-image {
    display: none;
  }
  #section-skill .article-skill {
    padding-right: 0;
  }
  #section-skill .article-skill .article-wrap {
    padding: 3rem 2.5rem 3.5rem;
  }
  #section-skill .article-skill h3 {
    padding-left: 0;
  }
  #section-skill .article-skill .list-skill {
    margin-top: 0.5rem;
  }
  #section-skill .article-skill .item-skill {
    width: 100%;
    padding-top: 1.75rem;
    text-align: left;
  }
  #section-skill .article-skill .item-skill h4 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
  }
  #section-skill .article-skill .item-skill li:hover {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1);
  }

  #section-career {
    position: relative;
    padding: 2rem;
    background: transparent url(../img/m-img.jpg) center top no-repeat;
    -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto;
  }
  #section-career .section-career-wrap {
    padding: 3rem 2.5rem;
    background: #fff;
    background: rgba(255,255,255,0.95);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
  }
  #section-career .section-title {
    padding-left: 0;
    color: #000; font-size: 1.5rem;
  }
  #section-career .article-education {
    padding-left: 0;
  }
  #section-career .article-education ul {
    padding: 1.75rem 0 0;
  }
  #section-career .article-education li {
    margin-top: 1.5rem;
  }
  #section-career .article-education li h4 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
  }
  #section-career .article-education li p {
    line-height: 1.54;
  }
  #section-career .article-experience {
    padding-left: 0;
  }
  #section-career .list-experience {
    padding: 0;
  }
  #section-career .item-experience {
    width: 100%;
    margin-top: 1.5rem;
    margin-right: 0;
    color: #000;
  }
  #section-career .item-experience h4 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
  }
  #section-career .item-experience h4 .century {
    font-size: 1.25rem;
  }
  #section-career .item-experience h4 .century:before {
    font-size: 0;
  }
  #section-career .item-experience h4 .separator {
    font-size: 1.25rem;
  }
  #section-career .item-experience h4 .separator:before {
    font-size: 0;
  }
  #section-career .item-experience h4 sub {
    font-size: 1.25rem;
  }
  #section-career .item-experience p {
    font-size: 1rem; line-height: 1.54;
  }
  #section-career .item-experience p span {
    display: block;
    font-size: 1rem; line-height: 1.54;
  }
  #section-career .item-experience ul {
    display: none;
  }
  #section-career .image-copyright {
    display: block;
    position: absolute; bottom: 0.313rem; right: 0.625rem;
    color: #fff; text-shadow: 1px 1px #000; font-size: 0.75rem;
  }

  /* footer */
  footer {
    padding: 3rem 2.5rem 2rem;
  }
  footer p {
    font-size: 0.75rem;
  }
  .footer__icon-group {
    top:3rem; right: 2.5rem;
  }
  .footer__icon-group a {
    color: black;
    transition: color 0s;
  }
}
